KEYCLOAK_URL=http://localhost:8080
MIDDLEWARE_SECRET_KEY=test
KEYCLOAK_CLIENT=test
KEYCLOAK_REALM=test
SEARCH_CONNECTOR_URL=https://api-search-connector.stage.sd-search.itlabs.io/
SEARCH_CONNECTOR_API_KEY=
ELASTICSEARCH_URL=https://elastic-new-sd-search.itlabs.io
ELASTICSEARCH_LOGIN=
ELASTICSEARCH_PASSWORD=