# bkk creds
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_CLIENT=test
KEYCLOAK_REALM=test
# app secret key
MIDDLEWARE_SECRET_KEY=test
# creds & urls for api adapters
SEARCH_CONNECTOR_URL=https://api-search-connector.stage.sd-search.itlabs.io/
SEARCH_CONNECTOR_API_KEY=
ELASTICSEARCH_URL=https://elastic-new-sd-search.itlabs.io
ELASTICSEARCH_LOGIN=
ELASTICSEARCH_PASSWORD=
# db app
POSTGRES_DB_USER=root
POSTGRES_DB_PASSWORD=root
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=app
POSTGRES_POOL_MIN_SIZE=5
POSTGRES_POOL_MAX_SIZE=10