<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Оценка поисковых запросов</title>
        <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
        <link rel="icon"
              type="image/x-icon"
              href="{{ request.url_for('static', path='/images/favicon.ico') }}">
        <script src="{{ request.url_for('static', path='/js/htmx.min.js') }}"></script>
        <script src="{{ request.url_for('static', path='/js/htmx-handling.js') }}"
                defer></script>
        <script src="{{ request.url_for('static', path='/js/json-enc.js') }}" defer></script>
        <script src="{{ request.url_for('static', path='/js/Sortable.min.js') }}"
                defer></script>
        <link href="{{ request.url_for('static', path='/css/tabler.min.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/main.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/mobile.css') }}"
              rel="stylesheet" />
    </head>
    <body>
        <div id="spinner" class="htmx-indicator">
            <h1>
                Обработка запроса<span class="animated-dots"></span>
            </h1>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
