<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Оценка поиска</title>
        <script src="{{ request.url_for('static', path='/js/htmx.min.js') }}"></script>
        <script src="{{ request.url_for('static', path='/js/Sortable.min.js') }}"
                defer></script>
        <script src="{{ request.url_for('static', path='/js/dragndrop.js') }}" defer></script>
        <script src="{{ request.url_for('static', path='/js/htmx-error-handling.js') }}"
                defer></script>
        <script src="{{ request.url_for('static', path='/js/json-enc.js') }}" defer></script>
        <link href="{{ request.url_for('static', path='css/tabler.min.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/tabler-flags.min.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/tabler-payments.min.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/tabler-vendors.min.css') }}"
              rel="stylesheet" />
        <link href="{{ request.url_for('static', path='/css/main.css') }}"
              rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
