{% block card %}
    <div class="card card-lg" id="rate-card">
        <div class="card-header border-bottom fixed-header">
            <div class="card-title">
                <h2 class="mb-0 text-break">"{{ search_case.query.query }}"</h2>
                <div class="text-muted">Частота использования запроса за месяц: {{ search_case.query.usage_frequency }}</div>
                <div class="text-muted">Оценено {{ user.completed_count }} из макс. возможных {{ user.daily_limit }}</div>
                <div class="text-orange"
                     {% if user.daily_minimum <= user.completed_count %}hidden="true"{% endif %}>
                    До необходимого минимума осталось: {{ user.daily_minimum - user.completed_count }} кейс(ов)
                </div>
                <div class="text-green"
                     {% if user.daily_minimum > user.completed_count %}hidden="true"{% endif %}>
                    Вы выполнили дневную норму!
                </div>
            </div>
            <div class="card-actions">
                <div class="text-muted">{{ user.email }}</div>
                <div>
                    <form method="post" action="{{ request.url_for('logout') }}">
                        <button type="submit" class="btn btn-link p-0">Выход</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="list-group list-group-flush">
                {% for result in search_results %}
                    {% include "result_item.html" %}
                {% endfor %}
            </div>
        </div>
        <!-- Next Case Button -->
        <div class="card-footer next-case-footer d-flex flex-column flex-md-row justify-content-between"
             hx-indicator="#spinner">
            <button id="skip-btn"
                    hx-post="/search-cases/{{ session.id }}/missed"
                    hx-confirm="Вы уверены что хотите пропустить запрос? Вернуться к нему больше не получится."
                    hx-target="#rate-card"
                    hx-swap="outerHTML"
                    class="btn btn-warning w-100 mb-2 mb-md-0 me-md-2">Пропустить</button>
            <button id="next-btn"
                    hx-post="/search-cases/{{ session.id }}"
                    hx-target="#rate-card"
                    hx-swap="outerHTML"
                    class="btn btn-primary w-100 mb-2 mb-md-0 me-md-2">К следующему запросу</button>
        </div>
    </div>
{% endblock %}
